* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    font-family: "Righteous", sans-serif;
    background-color: #f0e7f1;
}
::selection {
    color: #212529;
    background-color: #ffb4de;
    opacity: 0.2;
}
button::selection {
    color: inherit;
    background-color: inherit;
    opacity: inherit;
}
.main-content {
    min-height: 100vh;
}
h1 {
    font-family:  "Pacifico", cursive;
    font-size: 50px;
    color: #212529;
}
h1::before {
    content: '';
    position: absolute;
    background-color: #ffb4de;
    width: 100%;
    height: 25px;
    z-index: -1;
    bottom: 6px;
    left: 0;
    transition: height 1s;
    border-radius: 8px;
}
h1:hover::before {
    height: 50px;
}
h2 {
    font-size: 25px;
    background-image: linear-gradient(to right, #5e5554, #994b90);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}
label {
    color: #212529;
}
.form-control:focus {
    color: #212529;
    background-color: #fff;
    border-color: #dcd293;
    outline: 0;
    box-shadow: 0 0 0 0.25rem #fec26055;
}
.form-control.is-valid:focus {
    border-color: #767a76;
    box-shadow: 0 0 0 0.25rem rgba(126, 196, 126, 0.47);
}
.form-control.is-invalid:focus {
    border-color: #e75a5a;
    box-shadow: 0 0 0 0.25rem rgba(231, 90, 90, 0.47);
}

.btn-submit {
    background-color: #d099b8;
    color: #212529;
    padding: 6px 32px;
    border-radius: 50px;
    transition: all 1s;
}
.btn-submit:hover {
    background-color: #f17446;
}
.table thead th {
    color: #212529;
}
.btn-visit {
    background-color: rgb(126, 196, 126);
    color: #fff;
    padding: 6px 12px;
    border-radius: 50px;
    transition: all 1s;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}
.btn-visit:hover {
    background-color: #46af46;
}
.btn-delete  {
    background-color: #e75a5a;
    color: #fff;
    padding: 6px 12px;
    border-radius: 50px;
    transition: all 1s;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}
.btn-delete:hover {
    background-color: #c02525;
}
.bookmark-body{
    border-top: 3px dashed rgba(231, 90, 90, 0.47);
    border-bottom: 3px dashed rgba(231, 90, 90, 0.47);
}
.box-container{
    background-color: rgba(101, 99, 101, 0.47);
}
.gray-bg {
    background-color: #6b6c6a;
}
.circles span {
    display: block;
    width: 25px;
    height: 25px;
}
.circles span:nth-child(1) {
    background-color: #e75a5a;
}
.circles span:nth-child(2) {
    background-color: #7ec47e;
}
.circles span:nth-child(3) {
    background-color: #f29877;
}
.box-container p {
    font-size: 21px;
    color: #fff;
}
.box-container ol li {
    font-size: 18px;
    color: #fff;
}
.box-container ol li i {
    color: #B6DCCE;
}
